<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="uService" class="com.vector.beans.UserService">
		<property name="pwdService" ref="pService" />
	</bean>

	<bean id="pService" class="com.vector.beans.PasswordService"></bean>

</beans>